In [22]:
import pandas as pd
import numpy as np

In [23]:
you1dog=pd.read_excel('이슈설문지응답.xlsx')
you1dog.describe()

               연령         관심도
count  127.000000  127.000000
mean    27.952756    4.370079
std      8.483278    0.774629
min     10.000000    2.000000
25%     20.000000    4.000000
50%     30.000000    5.000000
75%     30.000000    5.000000
max     50.000000    5.000000

In [24]:
you1dog['연령']=pd.Categorical(you1dog['연령'])
you1dog['관심도']=pd.Categorical(you1dog['관심도'])

you1dog['성별']=pd.Categorical(you1dog['성별'])
you1dog['6. 아이와의 본격적인 반려 생활 시작 전, 임시 보호를 통해 가능 여부를 확인하는 것에 찬성하시나요?']=pd.Categorical(you1dog['6. 아이와의 본격적인 반려 생활 시작 전, 임시 보호를 통해 가능 여부를 확인하는 것에 찬성하시나요?'])

In [26]:
breed_type=['예비보호자','입양자','임시보호자','수분양자','무관']